
body {
  font-family: Arial, Helvetica, sans-serif;
    background-color: #2C363F;
}

/* Style the header */
header {
  background-color: #111D4A;
  padding: 20px;
    margin: 10px;
  font-size: 35px;
  color: white;
}

.titlegradient  {
    width: 15%;
    background-image: linear-gradient(to left, #FF6700, #A61C3C);
    color: transparent;
    background-clip: text;
}